EASY_SIGN_ON_SEASON_SAILWAVE_FILE=/opt/easy-sign-on/seasonal.blw
EASY_SIGN_ON_DATA_DIR=/opt/easy-sign-on/data
EASY_SIGN_ON_PORT=9222
EASY_SIGN_ON_TIMEZONE=Pacific/Auckland
EASY_SIGN_ON_OPEN_TIME=11:00
EASY_SIGN_ON_CLOSE_TIME=12:30
